<div class="bg-info pt-3 pb-3">
    <div class="container">
      <h3 class="text-white">ParkinYA</h3>
    </div>
</div>
  <div class="bg-light text-center pt-5" style="height: 100vh;">
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
              <h1 class="display-1 pt-5 font-weight-bold">404</h1>
                <h1 class="display-4 pt-1 pb-3">Pagina No encontrada</h1>
                <h3 class="font-weight-light text-secondary">La pagina a la que intenta acceder no se encuentra disnponible<br>fue removida o no existe</h3>
                <!--<a href="#" class="btn btn-info mt-3 pt-3 pb-3 pr-4 pl-4">Return to home</a>-->
            </div>
          </div>
    </div>
  </div>

