<nav class="navbar navbar-expand-lg bg-dark py-3 shadow navbar-dark">
  <a class="navbar-brand text-light px-4" routerLink="/home">ParkingYa</a>
  <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link  text-light" routerLink="/home" routerLinkActive="active">Inicio</a>
      </li>

        <li class="nav-item">
          <a class="nav-link  text-light" routerLink="/mapa">Mapa</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link  text-light" routerLink="/registrar-parqueaderos">Registrar parqueaderos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light" routerLink="/gestionar-parqueaderos">Mis parqueaderos</a>
      </li>
    </ul>
  </div>
</nav>