<div id="registro">
<div class="card shadow p-3 mb-5 bg-light rounded" style="width: 60rem; margin:0 auto">
<form [formGroup]="registerUser" (ngSubmit)="onSubmit(registerUser.value)" class="px-4 d-flex">
    <div class="card-body">
        <h5 class="card-title mb-4"><img class="img-fluid" src="assets/img/register.svg" width="50"> Registro Usuario</h5>
        
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Usuario:</label>
              <input type="text" class="form-control" formControlName="username">
              <div *ngIf="registerUser.get('username').touched || registerUser.get('username').dirty">
                <span class="text-danger" *ngIf="registerUser.get('username').errors?.required">
                    nombre de usuario es requerido
                </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label for="exampleInputEmail1">password:</label>
              <input type="password" class="form-control" formControlName="password">
              <div *ngIf="registerUser.get('password').touched || registerUser.get('password').dirty">
                <span class="text-danger" *ngIf="registerUser.get('password').errors?.required">
                    password es requerido
                </span>
                <span class="text-danger" *ngIf="registerUser.get('password')?.errors?.minlength">
                  minimo 6 caracteres
              </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Primer Nombre:</label>
              <input type="text" class="form-control" formControlName="pNombre">
              <div *ngIf="registerUser.get('pNombre').touched || registerUser.get('pNombre').dirty">
                <span class="text-danger" *ngIf="registerUser.get('pNombre').errors?.required">
                    Campo requerido
                </span>
                
              </div>
            </div>
          </div>
          <div class="col-md-6  col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Segundo Nombre:</label>
              <input type="text" class="form-control" formControlName="sNombre">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Primer Apellido:</label>
              <input type="text" class="form-control" formControlName="pApellido">
              <div *ngIf="registerUser.get('pApellido').touched || registerUser.get('pApellido').dirty">
                <span class="text-danger" *ngIf="registerUser.get('pApellido').errors?.required">
                    Campo requerido
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Segundo Apellido:</label>
              <input type="text" class="form-control" formControlName="sApellido">
              <div *ngIf="registerUser.get('sApellido').touched || registerUser.get('sApellido').dirty">
                <span class="text-danger" *ngIf="registerUser.get('sApellido').errors?.required">
                    Campo requerido
                </span>
                
              </div>
            </div>
          </div>
          <div class="col-md-6  col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Correo:</label>
              <input type="email" class="form-control" formControlName="correo">
              <div *ngIf="registerUser.get('correo').touched || registerUser.get('correo').dirty">
                <span class="text-danger" *ngIf="registerUser.get('correo').errors?.required">
                    password es requerido
                </span>
                <span class="text-danger" *ngIf="registerUser.get('correo')?.errors?.email">
                  correo no valido
              </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">tipo Identificacion:</label>
              <select name="" id="" class="form-control form-select" formControlName="tipoId">
                <option selected value="">selecciona</option>
                <option *ngFor="let id of tipoid" value="{{id.idDet}}" >
                  {{id.nombre}}
                </option>
              </select>
              <div *ngIf="registerUser.get('tipoId').touched || registerUser.get('tipoId').dirty">
                <span class="text-danger" *ngIf="registerUser.get('tipoId').errors?.required">
                    Campo requerido
                </span>
                
              </div>
            </div>
          </div>
          <div class="col-md-6  col-lg-4 mt-3">
            <div class="form-group">
              <label for="exampleInputEmail1">N° Identificacion:</label>
              <input type="number" class="form-control" formControlName="numeroId">
              <div *ngIf="registerUser.get('numeroId').touched || registerUser.get('numeroId').dirty">
                <span class="text-danger" *ngIf="registerUser.get('numeroId').errors?.required">
                    N° identificacion requerido
                </span>
                <span class="text-danger" *ngIf="registerUser.get('numeroId')?.errors?.min">
                  minimo 6 caracteres
              </span>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-primary  px-4 mt-4" value="Registrar" [disabled]="registerUser.invalid">
      </div>
</form>
</div>
</div>
