<div id="login">
    <div class="card shadow p-3 mb-5 bg-light rounded" style="width: 25rem; margin:0 auto">
        <form [formGroup]="loginUser" (ngSubmit)="onSubmit(loginUser.value)" class="px-4 d-flex">
            <div class="card-body">
                <div class="text-center">
                    <img class="" src="assets/img/loginImage.png" width="50">
                    <h5 class="card-title mt-3">Inicio de sesion</h5>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario:</label>
                    <input type="text" class="form-control mb-2" formControlName="username">
                    <div *ngIf="loginUser.get('username').touched || loginUser.get('username').dirty">
                    <span class="text-danger" *ngIf="loginUser.get('username').errors?.required">
                        username is required
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña:</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div *ngIf="loginUser.get('password').touched || loginUser.get('password').dirty">
                    <span class="text-danger" *ngIf="loginUser.get('password').errors?.required">
                        password is required
                    </span>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary  px-4 mt-4" value="Registrar">
            </div>
        </form>
        <h6 class="text-center">No tienes cuenta? <a routerLink="/registrar-usuario">Registrate aqui!</a></h6>
    </div>
</div>